#container {
	display: table;
}
#row {
	display: table-row;
}
#col{
	display: table-column; 
}
#cell {
	display: table-cell;
}

.sidebar {
	float: left;  
	height: 100%;
	width: 14%; 
	text-align: center;
	padding-top: 1%;
	border-right: 5px solid black;
	background-color: buttonFace;
	display: table-cell;
}
.sidebar button {
	width: 100%; 
	vertical-align: center;
	height: 90px; 
	font-size: 20px;
	margin-bottom: 10px;
}
.sidebar button:active {
	background-color: #CFB53B;
	font-style: bold;
}

.sidebar button:hover {
	background-color: buttonface;
	cursor: pointer; 
}

.mainScreen {
	float: right; 
	height: 100%; 
	width: 85%;
	background-color: #CFB53B;
	display: table-cell;
}

.footer {
	width: 100%;
	background-color: #FFFFFF; 
	bottom: 0;
	position: fixed;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 95%;
  height: 100%;
  display: flex;
  background: #E8E8E8;
  text-align: left;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.jobImage {
	display: inline;
	height: 100%;
	width: 29%;
}

.jobInfo {
	display: inline;
	padding: 1px;
	margin-left: 7px;
	width: 40%;
	height: 100%;
}

.jobDescription{
	display: inline;
	padding: 5px;
	margin: 5px;
	height: 100%;
	background: #f8f8f8;
	border-radius: 10px;
}

.noMarginBottom {
	margin-bottom: 0px;
}

::placeholder {
	font-size: 20px;
}
/*

*/
