.jobDropDown {
	width: 100%;
	height: 40px;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	
}
.jobDropDown i {
	float: right;
}

#applicantPool {
	margin-bottom: 15px;
}

.applicantDropDownContent {
	width: 100%;
}
.buttonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}
.applicantDropDownContent table {
	border-collapse: collapse; 
	text-align: center;
	color: white;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}

.applicantDropDownContent tr {
	border-bottom: 2px solid black;
	height: 40px;
	margin-left: 200px;
}

.applicantDropDownContent .tdCount{
	width: 10%;
}
.applicantDropDownContent .tdName{
	width: 60%;
	text-align: left;
	padding-left: 5px;
}
.applicantDropDownContent .tdResume{
	width: 15%;
}
.applicantDropDownContent .tdCoverLetter{
	width: 15%;
}