<!DOCTYPE html>
<html>
<head>
<title>Bio Internship Portal</title>
<link rel="stylesheet" href="users.css"/>
</head>
<body>
<div style="width: 100%; height: 100vh;min-width: 500px;" id = "container">
	<div id = "row">
		<div id = "sidePanel" class="sidebar">
			<h1>Biology Internship Portal</h1>
            <p>D'Arcy Wentworth Roper</p>
			<button onclick="window.location.href='employer_jobs.html'" class="sidePanelRow">Jobs</button>
			<button onclick="window.location.href='applicant_pool.html'" class="sidePanelRow">Applicants</button>
			<button onclick="window.location.href='employer_settings.html'" class="sidePanelRow">Settings</button>
			<a href="BIP_login.html" style = "margin-top: 30px;" class="button">log out </a>
		</div>
		<div id = infoPanel class = "mainScreen">
			<div style="display: table; border-collapse: collapse; width: 100%;">
				<div style = "display: table-row; border-bottom: 2px solid black">
					<div id = "cell" style = "width: 80%; vertical-align: center;">
					<h1 style="font-size: 40px; color: #F0EAD6; display: table-cell; width: 100%; text-align: center;">&#40New&#41 Job Listing</h1>
					</div>
				</div>
			</div>
			<div style = "display: table-row; width: 100%;">
				<table style="width:100%; border-bottom: 2px solid black;">
					<tr>
						<td rowspan="2">
							<img style = "height: 75px; width: 175px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/US_CDC_logo.svg/1200px-US_CDC_logo.svg.png"/>
						</td>
						<td>
							<input placeholder = "Enter Position Title"></input>
						</td>
						<td>
							<button onclick="window.location.href='employer_jobs.html'">Publish</button>
						</td>
						<td>
							<button onclick="window.location.href='employer_jobs.html'">save draft</button>
						</td>
					</tr>
					<tr>
						<td>
							<input placeholder = "Enter Company Name"></input>
						</td>
						<td>
							<button onclick="window.location.href='employer_jobs.html'">Discard</button>
						</td>
						<td>
							<button>Duplicate</button>
						</td>
					</tr>
				</table>
			</div>
			<div >
				<table>
					<tr>
						<td><label>Job Description</label></td>
						<td>
							<label>Deadline</label>
						</td>
					</tr>
					<tr>
						<td><input placeholder="Text input"/></td>
						<td>
							<label><input placeholder="MM / DD / YYYY"/></td>
						</td>
					</tr>
					<tr>
						<td><label>Qualifications</label></td>
						<td><label>Research Area</label></td>
					</tr>
					<tr>
						<td><input placeholder="Text input"/></td>
						<td>
							<select>
								<option> N/A </option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>Responsibilities</label></td>
						<td><label>Degree Level</label></td>
					</tr>
					<tr>
						<td><input placeholder="Text input"/></td>
						<td>
							<select>
								<option> High School</option>
							</select
						</td>
					</tr>
					<tr>
						<td><label>Location</label></td>
						<td><label>Min GPA</label></td>
					</tr>
					<tr>
						<td><input placeholder="Text input"/></td>
						<td>
							<select>
								<option> N/A</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>Work Term</label></td>
						<td><label>Work Authorization</label></td>
					</tr>
					<tr>
						<td><input placeholder="Text input"/></td>
					</tr>
					<tr>
						<td><label>Desired Start Date</label></td>
						<td><label>Abstract</label></td>
					</tr>
					<tr>
						<td><input placeholder="Text input"/></td>
						<td>
							<textarea placeholder="140 Character Description"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<select>
								<option> Security Clearance </option>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id= "createJobForm">

		</div>
	</div>
</div>
<div class="footer">
	<p>footer items that we need to copy from careerbuzz</p>
	<a href="somelink.edu">some link</a>
</div>
</body>

</html>
