<!DOCTYPE html>
<html>
<head>
<title>Bio Internship Portal</title>
<link rel="stylesheet" href="users2.css"/>
</head>
<body>
<div style="width: 100%; height: 100vh;min-width: 500px;" id = "container">
	<div id = "row">
			<div id = "sidePanel" class="sidebar">
				<h1>Biology Internship Portal</h1>
                <p>D'Arcy Wentworth Roper</p>
				<button class="sidePanelRow">Jobs</button>
				<button onclick="window.location.href='applicant_pool.html'" class="sidePanelRow">Applicants</button>
				<button onclick="window.location.href='employer_settings.html'" class="sidePanelRow">Settings</button>
				<a href="BIP_login.html" style = "margin-top: 30px;" class="button">log out </a>
			</div>
			<div id = infoPanel class = "mainScreen">
				<div style="display: table;border-bottom: 2px solid black; width: 100%;">
					<div style = "display: table-row;">
						<div id = "cell" style = "width: 20%;">
							<img style = "height: 75px; width: 175px; background-color: blue; margin: 30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/US_CDC_logo.svg/1200px-US_CDC_logo.svg.png" height="100%"/>
						</div>
						<div id = "cell" style = "width: 80%; text-align: center;">
							<h1 style="font-size: 40px; color: #F0EAD6; display: table-cell; width: 100%; text-align: center;">Center for Disease Control</h1>
						</div>
						<button onclick="window.location.href='employer_job_creation.php'" style="margin-right:20px; margin-bottom:10px; width: 200px; height: 30px"> Create New Job Listing </button>

					</div>
				</div>
				<table align="center" style="margin-top:20px">
						<tbody>
							<tr align="center">
								<td class="card">
									<div class="jobImage">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/US_CDC_logo.svg/1200px-US_CDC_logo.svg.png" height="100%" width="100%">
									</div>
									<div class="jobInfo">
										<h3>Microbiology Intern</h3>
										<p class="noMarginBottom">
											Centers for Disease Control
											</br>
											Atlanta, GA
										</p>
									</div>
									<div class="jobDescription">
										<p>
											The Centers for Disease Control and Prevention (CDC) is the agency Americans trust with their lives. As a global leader in public health, CDC is the nation's premier health promotion, prevention, and preparedness agency.
										</p>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td class="card">
									<div class="jobImage">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/US_CDC_logo.svg/1200px-US_CDC_logo.svg.png" height="100%" width="100%">
									</div>
									<div class="jobInfo">
										<h3>Intern, Exploratory Biology</h3>
										<p class="noMarginBottom">
											Center for Disease Control
											</br>
											Boston, MA
										</p>
									</div>
									<div class="jobDescription">
										<p>
											Exploratory Biology team in Boston focuses on multiple early phase projects for multiple life-threatening rare diseases. We are seeking a highly motivated intern to develop and implement novel assays and cellular models to evaluate disease phenotype and drug responses.
										</p>
									</div>
								</td>
							</tr>
							<tr align="center">
								<td class="card">
									<div class="jobImage">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/US_CDC_logo.svg/1200px-US_CDC_logo.svg.png" height="100%" class="imgSize">
									</div>
									<div class="jobInfo">
										<h3>Intern - Cell Therapy</h3>
										<p class="noMarginBottom">
											Center for Disease Control
											</br>
											Grand Island, NY
										</p>
									</div>
									<div class="jobDescription">
										<p>
											The R&amp;D Intern will carry out assays associated with the development of novel cell culture media formulations and processes for cell therapy applications.
										</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>




			</div>
	</div>
</div>
<div class="footer">
	<p>footer items that we need to copy from careerbuzz</p>
	<a href="somelink.edu">some link</a>
</div>
</body>

</html>
