h1 {
	font-size: 125px;
	color: #F0EAD6;
}

h3{
	font-size: 60px;
	color: #F0EAD6;
}

p {
	text-align: center;
	background-color: blue;
	color: white; 
	margin: 0px 40%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-style: bold;
	
}