<!DOCTYPE html>
<html>
<head>
<title>Bio Internship Portal</title>
<link rel="stylesheet" href="users.css"/>
<link rel="stylesheet" href="view_job_listing.css"/>
<script src="Apply.js"></script>
</head>
<body>
<div style="width: 100%; height: 100vh;min-width: 500px;" id = "container">
	<div id = "row">
		<div id = "sidePanel" class="sidebar">
			<h1>Biology Internship Portal</h1>
            <p>D'Arcy Wentworth Roper</p>
						<button class="sidePanelRow">Jobs</button>
						<button onclick="window.location.href='student_offers.html'" class="sidePanelRow">Offers</button>
						<button onclick="window.location.href='student_settings.html'" class="sidePanelRow">Settings</button>
			<a href="BIP_login.html" style = "margin-top: 30px;" class="button">log out </a>
		</div>
		<div id = infoPanel class = "mainScreen">
			<div style="display: table; border-collapse: collapse; width: 100%;">
				<h1 style="font-size: 40px; color: #F0EAD6; width: 100%; text-align: center;">&#40New&#41 Job Listing</h1>	
			</div>
			<div style = "display: table; width: 100%;">
				<table style="width:100%; border-bottom: 2px solid black;">
					<tr>
						<td rowspan="2" style="width: 200px;">
							<img style = "height: 75px; width: 175px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/US_CDC_logo.svg/1200px-US_CDC_logo.svg.png"/>
						</td>
						<td>
							<label class="jobViewHeader">Position Title</label>
						</td>
						<td>
							<button onclick="window.location.href='student_jobs_page.html'" style="width: 90%; height: 30px;">Go Back</button>
						</td>
					</tr>
					<tr>
						<td>
							<label class="jobViewHeader">Company Name</label>
						</td>
						<td>
							
							<button id="popup" onclick="div_show()" style="width: 90%; height: 30px;">Apply</button>
							
						</td>
					</tr>
				</table>
			</div>
			
			<div id="abc" style="display: none; margin: 20px; border: 5px solid black;">
				<div id="popupContact" style="padding: 15px; vertical-align: center;text-align: center;">
					<form action="#" id="form" method="post" name="form">
						<img src="" onclick="div_hide()"/>
						Resume: <input id="resume" name="resume" placeholder="resume" type="file">
						Cover letter: <input id="cover_letter" name="cover_letter" placeholder="cover_letter" type="file">
						<a href="javascript:%20check_empty()" id="submit">Submit</a>
					</form>
				</div>
			</div>
						
			<!	
				Update code make this table similar to Employer_job_creation to make it easier to read/make
			
			>
			<div class="jobDetails">
				<table>
					<tr class="rowHeader">
						<td><label class="criteriaHeader">Job Description:</label></td>
						<td>
							<label class="criteriaHeader">Deadline:</label>
						</td>
					</tr>
					<tr>
						<td class="criteriaInfo"><label>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</label></td>
						<td class="criteriaInfo">
							<label>MM / DD / YY</label></td>
						</td>
					</tr>
					<tr class="rowHeader">
						<td><label class="criteriaHeader">Qualifications:</label></td>
						<td><label class="criteriaHeader">Research Area:</label></td>
					</tr>
					<tr>
						<td class="criteriaInfo"><label>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</label></td>
						<td class="criteriaInfo">
							<label>T-Virus development</label>
						</td>
					</tr>
					<tr>
						<td><label class="criteriaHeader">Responsibilities:</label></td>
						<td><label class="criteriaHeader">Degree Level:</label></td>
					</tr>
					<tr>
						<td class="criteriaInfo"><label>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</label></td>
						<td class="criteriaInfo">
							<label>Some college education</label>
						</td>
					</tr>
					<tr>
						<td><label class="criteriaHeader">Location:</label></td>
						<td><label class="criteriaHeader">Min GPA:</label></td>
					</tr>
					<tr>
						<td class="criteriaInfo"><label>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</label></td>
						<td class="criteriaInfo">
							<label>3.15</label>
						</td>
					</tr>
					<tr>
						<td><label class="criteriaHeader">Work Term:</label></td>
						<td><label class="criteriaHeader">Work Authorization:</label></td>
					</tr>
					<tr>
						<td class="criteriaInfo"><label>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</label</td>
						<td class="criteriaInfo"><label>"CDC" Employee</label></td>
					</tr>
					<tr>
						<td><label class="criteriaHeader">Desired Start Date:</label></td>
						<td><label class="criteriaHeader">Abstract:</label></td>
					</tr>
					<tr>
						<td class="criteriaInfo"><label>MM / DD / YYYY</label></td>
						<td class="criteriaInfo">
							<label style="text-w">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="criteriaHeader">
								Security Clearance: 
							</label>
						</td>
					</tr>
					<tr>
						<td class="criteriaInfo">
							<label>Top Secret</label>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id= "createJobForm">

		</div>
	</div>
</div>
<div class="footer">
	<p>footer items that we need to copy from careerbuzz</p>
	<a href="somelink.edu">some link</a>
</div>
</body>

</html>
